body {
    font-family: "Silkscreen", sans-serif;
    border: 40px solid #FFCAD4;
}

.middle-section {
    width: 100%;
    padding: 40px 0;
    background-color: #FFE5D9;
}

.bottom-section {
    width: 100%;
    padding: 40px 0;
    background-color: #D8E2DC;
}

.custom-navbar {
    padding: 40px 20px 0px 20px;
    border-bottom: ridge;
    border-width: 1px;
    margin: 0 auto;
    width: 90%;
    border-color: black;
    font-family: "Silkscreen", sans-serif;
}

h3 {
    font-family: "Kalnia Glaze", serif;
}

h2 {
    font-size: 6rem;
    font-family: "La Belle Aurore", cursive;
    color: #9D8189;
}

h1 {
    color: #9D8189;
}

.image {
    max-height: 700px;
}

.large-img {
    width: 300%;
    max-width: none;
    height: auto;
    margin: 0 auto;
    position: left;
}

.larger-than-h1 {
    font-size: 8rem;
    font-family: "La Belle Aurore", cursive;
    color: #9D8189;
}

.highlight-primary {
    background-image: url(images/—Pngtree—pink\ watercolor\ brushes_5054156.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.highlight-secondary {
    background-image: url(images/—Pngtree—brush\ heart\ shape\ vector_9269545.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    background-size: 300px;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.icon i:hover {
    animation: bounceIn 0.8s forwards;
}

.custom-font {
    font-family: "La Belle Aurore", cursive;
    font-size: 25px;
}

.image-button {
    display: inline-block;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image-button img {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image-button:hover img {
    transform: scale(1.05);
    opacity: 0.8;
}

